<h3 class='head_padding shadow_box back_blue'>We Found 3 Games for "Sunset Overdrive"</h3> <li class="back_dark shadow_box"                     style="background-image:linear-gradient(rgb(50, 50, 50), rgba(50, 50, 50, 0.8)), url('https://howlongtobeat.com/gameimages/Sunset_Overdrive_cover.jpg')"> <div class="search_list_image">
<a title="Sunset Overdrive" href="game.php?id=21278">
<img src="https://howlongtobeat.com/gameimages/Sunset_Overdrive_cover.jpg" />
</a>
</div> <div class="search_list_details"> <h3 class="shadow_text">
<a class="text_blue" title="Sunset Overdrive" href="game.php?id=21278">Sunset Overdrive</a>
</h3> <div class="search_list_details_block"> <div>
<div class="search_list_tidbit shadow_text">Main Story</div>
<div class="search_list_tidbit center time_100">10 Hours </div>
<div class="search_list_tidbit shadow_text">Main + Extra</div>
<div class="search_list_tidbit center time_100">18&#189; Hours </div>
<div class="search_list_tidbit shadow_text">Completionist</div>
<div class="search_list_tidbit center time_90">32&#189; Hours </div>
<div class="search_list_tidbit shadow_text">All Styles</div>
<div class="search_list_tidbit center time_100">15 Hours </div>
</div> </div>
</div> <div class="clear guide">
<div class="guide_node time_40 shadow_box"> </div>
<div class="guide_node time_50 shadow_box"> </div>
<div class="guide_node time_60 shadow_box"> </div>
<div class="guide_node time_70 shadow_box"> </div>
<div class="guide_node time_80 shadow_box"> </div>
<div class="guide_node time_90 shadow_box"> </div>
<div class="guide_node time_100 shadow_box"></div>
</div> </li> <li class="back_dark shadow_box"                   style="background-image:linear-gradient(rgb(50, 50, 50), rgba(50, 50, 50, 0.8)), url('https://howlongtobeat.com/gameimages/Sunset_Overdrive_Dawn_of_the_Rise_of_the_Fallen_Machines.jpg')"> <div class="search_list_image">
<a title="Sunset Overdrive: Dawn of the Rise of the Fallen Machines DLC" href="game.php?id=26534">
<img src="https://howlongtobeat.com/gameimages/Sunset_Overdrive_Dawn_of_the_Rise_of_the_Fallen_Machines.jpg" />
</a>
</div> <div class="search_list_details"> <h3 class="shadow_text">
<a class="text_white" title="Sunset Overdrive: Dawn of the Rise of the Fallen Machines DLC" href="game.php?id=26534">Sunset Overdrive: Dawn of the Rise of the Fallen Machines DLC</a>
</h3> <div class="search_list_details_block"> <div>
<div class="search_list_tidbit shadow_text">Main Story</div>
<div class="search_list_tidbit center time_50">1&#189; Hours </div>
<div class="search_list_tidbit shadow_text">Main + Extra</div>
<div class="search_list_tidbit center time_50">2&#189; Hours </div>
<div class="search_list_tidbit shadow_text">Completionist</div>
<div class="search_list_tidbit center time_40">3 Hours </div>
<div class="search_list_tidbit shadow_text">All Styles</div>
<div class="search_list_tidbit center time_70">2 Hours </div>
</div> </div>
</div> <div class="clear guide">
<div class="guide_node time_40 shadow_box"> </div>
<div class="guide_node time_50 shadow_box"> </div>
<div class="guide_node time_60 shadow_box"> </div>
<div class="guide_node time_70 shadow_box"> </div>
<div class="guide_node time_80 shadow_box"> </div>
<div class="guide_node time_90 shadow_box"> </div>
<div class="guide_node time_100 shadow_box"></div>
</div> </li> <div class="clear"></div> <li class="back_dark shadow_box"                     style="background-image:linear-gradient(rgb(50, 50, 50), rgba(50, 50, 50, 0.8)), url('https://howlongtobeat.com/gameimages/29248_Sunset_Overdrive_The_Mystery_of_Mooil_Rig_DLC.jpg')"> <div class="search_list_image">
<a title="Sunset Overdrive: The Mystery of Mooil Rig DLC" href="game.php?id=29248">
<img src="https://howlongtobeat.com/gameimages/29248_Sunset_Overdrive_The_Mystery_of_Mooil_Rig_DLC.jpg" />
</a>
</div> <div class="search_list_details"> <h3 class="shadow_text">
<a class="text_white" title="Sunset Overdrive: The Mystery of Mooil Rig DLC" href="game.php?id=29248">Sunset Overdrive: The Mystery of Mooil Rig DLC</a>
</h3> <div class="search_list_details_block"> <div>
<div class="search_list_tidbit shadow_text">Main Story</div>
<div class="search_list_tidbit center time_40">50 Mins </div>
<div class="search_list_tidbit shadow_text">Main + Extra</div>
<div class="search_list_tidbit center time_40">2 Hours </div>
<div class="search_list_tidbit shadow_text">Completionist</div>
<div class="search_list_tidbit center time_40">2&#189; Hours </div>
<div class="search_list_tidbit shadow_text">All Styles</div>
<div class="search_list_tidbit center time_50">2 Hours </div>
</div> </div>
</div> <div class="clear guide">
<div class="guide_node time_40 shadow_box"> </div>
<div class="guide_node time_50 shadow_box"> </div>
<div class="guide_node time_60 shadow_box"> </div>
<div class="guide_node time_70 shadow_box"> </div>
<div class="guide_node time_80 shadow_box"> </div>
<div class="guide_node time_90 shadow_box"> </div>
<div class="guide_node time_100 shadow_box"></div>
</div> </li> 